/node_modules
/public/hot
/public/storage
/public/uploads/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker/mysql/*
!/docker/mysql/mysql.txt
/docker/nginx/default.conf
.idea/
storage/app/analytics/african-with-tech-production-32aedc31c3da.json
config/analytics.php
